.bread {
  height: 50px;
  line-height: 50px;
  background: #d4dae0;
  padding-left: 20px;
  font-size: 16px;
}
.demo-table-expand {
  font-size: 0;
}
.demo-table-expand label {
  width: 90px;
  color: #99a9bf;
}
.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}
.row1 {
  margin-top: 10px;
  border-bottom: 1px dashed #ccc;
}
.row1:last-child {
  border-bottom: none;
}
.col {
  margin-bottom: 20px;
}
.tag {
  margin: 5px 5px;
}
.dialog {
  text-align: left;
}
